
li {
  margin: 0 0 15px;
  font-size: 18px;
  /*line-height: 1;*/
}
@media (min-width: 768px) {
  li {
    margin: 0 0 15px;
    font-size: 20px;
    /*line-height: 1.2;*/
  }

  .contact-row {
    text-align: center;
  }

}


#about img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.portfolio-item {
    padding: 20px;
    /*border: 1px dashed red;*/
}

.portfolio-item-hover {
    background-color: rgba(128, 128, 128, .3);
}

.portfolio-item-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.resume-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-column {
  padding: 20px;
  vertical-align: middle;
}

.resume-item {
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  border: 0.5px solid white;
  padding: 10px;
}

.resume-item:hover {
  background: #FF6A00;
  border-color: #FF6A00;
}

.resume-work-item {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /*border: 0.5px solid white;*/
  /*margin: 10px;*/
  transition: all 0.5s ease-in-out;
  border-bottom: .5px solid #FF6A00;
}

.resume-work-item:first-child {
  border-top: .5px solid #FF6A00;
}

.resume-work-item-hover {
  background: rgba(255, 106, 0, .5);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.resume-work-item p {
  margin-bottom: 15px;
}

.resume-work-item-description {
  text-align: left;
  transition: all 0.5s ease-in-out;
  padding: 10px;
}

.resume-work-item hr {
  border-color: #FF6A00;
}

.contact-icon {
  padding: 20px;
}

a .contact-icon {
  color: white;
  transition: all 0.5s ease-in-out;
}

a .contact-icon:hover {
  color: #1AB78D;
  transition: all 0.5s ease-in-out;
}

.contact-row {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
